<!DOCTYPE html>
<html>
    <head>
        <title>Covid-19 Bad Request</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/jVectorMap/jquery-jvectormap-2.0.5.css">
        <style>
            body {
                margin: auto;
                text-align: center;
                width: 100%;
                margin-top: 10%;
            }
        </style>
    </head>
    <body style="background-color:#383f47;">

        <span class="badge badge-primary" style="margin:5px; padding: 15px;">
            Made using the <a href="https://github.com/NovelCOVID/API" target="_blank">NovelCOVID API</a>
            <br>
            Join their discord <a href="https://discord.gg/EvbMshU">here</a>
        </span>
        <br>
        <a href="/" class="btn btn-outline-light">Home</a>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
