<!DOCTYPE html>
<html>
    <head>
        <title>Covid-19 Global Map</title>
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <meta charset="utf-8">
        <!--<meta http-equiv="refresh" content="60; URL=/">-->

        <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
        
        <link rel="stylesheet" type="text/css" href="/static/css/app.css">

        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/jVectorMap/jquery-jvectormap-2.0.5.css">
    </head>
    <body style="background-color:#383f47;">

        <!-- about modal -->
        <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">About</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>
                            Made using the <a href="https://disease.sh/" target="_blank">disease.sh API</a>
                            <small class="text-muted">(before NovelCOVID)</small>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- map -->
        <input type="hidden" id="all" value="<%= JSON.stringify(all); %>">
        <input type="hidden" id="countries" value="<%= JSON.stringify(countries); %>">

        <span class="badge badge-primary" style="margin:5px;" data-toggle="tooltip" data-placement="right" title="Made using the disease.sh API">
            Covid-19 Global Map Spread
        </span>

        <div id="map"></div>

        <div class="bottom" style="padding:5px;">
            <span class="badge badge-primary" id="globalCases" data-toggle="tooltip" data-placement="top" title="Global Cases"></span>
            <span class="badge badge-danger" id="globalDeaths" data-toggle="tooltip" data-placement="top" title="Global Deaths"></span>
            <span class="badge badge-success" id="globalRecovered" data-toggle="tooltip" data-placement="top" title="Global Recoveries"></span>

            <hr>

            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#aboutModal">
                About
            </button>
        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        
        <script src="/static/jVectorMap/jquery-jvectormap-2.0.5.min.js"></script>
        <script src="/static/jVectorMap/jquery-jvectormap-world-mill.js"></script>

        <script src="/static/js/isoCountries.js"></script>
        <script src="/static/js/main.js"></script>
    </body>
</html>